<IfModule mod_rewrite.c>
    # Enable rewrite engine
    RewriteEngine On
    
    # Protect sensitive files
    <FilesMatch "^\.">
        Order allow,deny
        Deny from all
    </FilesMatch>
    
    # Redirect all requests to the public folder unless already pointing there
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule %{REQUEST_URI} !^/public/index.php [L]
    RewriteRule ^(.*)$ public/$1 [L,NC]
</IfModule>